.nyx-movie-reviews {
  &__form-field {
    margin-right: 1rem;
  }

  &__results {
    max-height: 50vh;
    overflow: auto;

    @media screen and (max-width: 600px) {
      max-height: 70vh;
    }
  }

  &__article {
    margin-bottom: 1rem;
    cursor: pointer;
  }

  small {
    display: block;
  }

}
